// Breakpoints
// Small tablets and large smartphones (landscape view)
$screen-sm: 22.5rem;
// Small tablets (portrait view)
$screen-md: 48rem;
// Tablets and small desktops
$screen-lg: 70rem;
// Large tablets and desktops
$screen-xl: 90rem;

//light colorpalet
// Main colors
$light-primary-color: #2C7EF8;
$light-primary-hover-light-color: #075CD9;
$light-on-primary-light-color: #FFFFFF;

// Background colors
$light-background-light-color: #FFFFFF;
$light-on-background-light-color: #191C1E;
$light-surface-light-color: #FFFFFF;

// Neutral colors
$light-neutral-color1: #000000;
$light-neutral-color2: #323233;
$light-neutral-color3: #646466;
$light-neutral-color4: #7D7D7F;
$light-neutral-color5: #AFAEB2;
$light-neutral-color6: #C8C7CB;
$light-neutral-color7: #E1E0E5;
$light-neutral-color8: #E1E0E5;
$light-neutral-color9: #F5F6F8;
$light-neutral-color10: #FEFEFE;
$light-neutral-color11: #FFFFFF;

// Other colors
$light-error-color: #E63946;
$light-success-color: #90F677;

//dark colorpalet
// Main colors
$dark-primary-color: #3A86F8;
$dark-primary-hover-dark-color: #6BA4FA;
$dark-on-primary-light-color: #FFFFFF;

// Background colors
$dark-background-dark-color: #040810;
$dark-on-background-dark-color: #E6E9EF;
$dark-surface-dark-color: #E6E9EF;

// Neutral colors
$dark-neutral-color1: #FFFFFF;
$dark-neutral-color2: #323233;
$dark-neutral-color3: #646466;
$dark-neutral-color4: #7D7D7F;
$dark-neutral-color5: #AFAEB2;
$dark-neutral-color6: #C8C7CB;
$dark-neutral-color7: #E1E0E5;
$dark-neutral-color8: #E1E0E5;
$dark-neutral-color9: #F5F6F8;
$dark-neutral-color10: #FEFEFE;
$dark-neutral-color11: #FFFFFF;

// Other colors
$dark-error-color: #E63946;
$dark-success-color: #90F677;



